<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

    <body>

        <div layout:fragment="content">

        <div class="container" style="width: 78%">
          <div class="row">
            <form class="form-horizontal">
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                  View Location Record
                </header> 
                <div class="panel-body">
                  
                  <div class="form-group">
                    <label class="control-label col-sm-4">Description</label>
                    <div class="col-sm-6">
                        <input readonly th:value="${location.description}" name="description" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">City</label>
                    <div class="col-sm-6">
                      <input readonly th:value="${location.city}" name="city" type="text" class=" form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Address</label>
                    <div class="col-sm-6">
                      <input readonly th:value="${location.address}" name="address" type="text" class=" form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Country</label>
                    <div class="col-sm-6">
                      <select disabled name="countryid" id="ddlCountryAdd" type="text" class="form-control">
                        <option> - Select Contry -</option>
                        <option th:each="country: ${countries}"
                                th:value="${country.id}"
                                th:selected="${country.id}==${location.countryid} ? True: False"
                                th:text="${country.description}"
                        ></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">State</label>
                    <div class="col-sm-6">
                      <select disabled name="stateid" id="ddlCountryAdd" type="text" class="form-control">
                        <option> - Select State -</option>
                        <option th:each="state: ${states}"
                                th:value="${state.id}"
                                th:selected="${state.id}==${location.stateid} ? True: False"
                                th:text="${state.name}"
                        ></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4">Details</label>

                    <div class="col-sm-2">
                      <input readonly name="details" th:value="${location.details}" type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </section>
              <section class="panel">
                <div class="panel-body">
                  <a href="/locations" class="btn btn-warning">
                    Exit
                  </a>
                </div>
              </section>
            </div>
          </form>
          </div>
        
        </div>
            
        </div>

    </body>
</html>